---
---

@import "{{ site.theme }}";

img.site-logo {max-width: 80% !important;}
img.image-bullet {float: left; margin: 0 1rem 1rem 0;}
img.upit {margin-top: -.75rem !important;}

section {width: 550px !important;}
section h1 {color: inherit !important; font-size: 250% !important;}
section h1:first-of-type {margin-bottom: 1.1rem !important; margin-top: -.35rem !important;}
section table tr td {vertical-align: top !important; width: 33%;}
section hr {width: 100%; margin: 1rem 0;}
section li:first-of-type {margin-top: 0;}
section ul.cols-two {columns: 2; padding-left: 0.5rem; margin: 0 0 1rem 0; width: 110%;}
section ul li {margin: 0 1rem;}
section ul li p {margin: 0;}
section p {margin-after: .5rem !important;}
section p.inline-slogan {margin-bottom: .25rem; font-style: italic;}
