---
---

@import "{{ site.theme }}";

div.wrapper {width: 960px !important;}
div.wrapper section {width: 660px !important;}

header img.site-logo {border: solid 2px slategray; border-radius: 6px; margin-left: -2px; max-width: 220px !important;}

section img.image-bullet {float: left; margin: 0 1rem 1rem 0;}
section img.upit {margin: -.75rem 1rem 2.15rem 0;}

section h1 {color: inherit !important; font-size: 250% !important;}
section h1:first-of-type {margin-bottom: 1.1rem !important; margin-top: -.35rem !important;}

section table {margin: 1.25rem 0 !important;}
section table tr td {vertical-align: top !important; width: 33%;}

section hr {width: 100%; margin: 1.72rem 0 !important;}

section ul {columns: 1; padding-left: 1rem; margin: 1rem 0;}
section ul.cols-two {columns: 2;  width: 110%;}

section li:first-of-type {margin-top: 0;}
section ul li {margin: 0 1rem;}
section ul li p {margin: 0;}

section h2, section h3 {margin-top: 1.5rem !important;}
section h2+p, section h3+p {margin-top: -.75rem !important;}

section p {margin-bottom: .5rem !important;}
section p.inline-slogan {margin-bottom: .25rem; font-style: italic;}
